@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gluten;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.elo7.com.br/product/zoom/3766DF0/adesivo-coracoes-tons-de-rosa-decorativo-adesivo.jpg");
  
}
h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
  
.container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  
}
.countdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-text {
  font-size: 7rem;
}
.button {
  background: purple;
  font-size: 1.5rem;
  
}



