@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
  color: black;
}
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.container{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.countdown-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text{
    font-size: 7rem;
}
